<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.11.0" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.13.0" targetFramework="net45" />
  <package id="Selenium.Chrome.WebDriver" version="83.0.0" targetFramework="net45" />
  <package id="Selenium.Firefox.WebDriver" version="0.26.0" targetFramework="net45" />
  <package id="Selenium.Support" version="4.0.0-alpha05" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="4.0.0-alpha05" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="84.0.4147.3000-beta" targetFramework="net45" />
</packages>